.item-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

.blog-overview {
    padding: 10px;
    width: 250px;
    height: 200px;
    margin-top: 10px;
    text-align: center;
}

.blog-summary {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: utopia-std;
    color: #414b56;
    font-style: normal;
    font-weight: normal;
}