{% extends "posts/layout.html" %} 

{% block title %}
        Sherbert Capital
{% endblock %}

{% block body %}
<h1>Blog</h1>
<div class = "item-card">
        {% for post in posts %}
                <div class = "blog-overview">
                        <a href = "{% url 'posts:focus-post' post.id %}" class = "blog-title-link">
                                <h2>{{post.title}}</h2>
                        </a>
                        <div class = "blog-summary">{{post.summary}}</div>
                </div>
        {% endfor %}
</div>
{% endblock %}